[submodule "Core/submodules/libbson"]
	path = Core/submodules/libbson
	url = https://github.com/trusch/libbson
[submodule "Core/submodules/poco"]
	path = Core/submodules/poco
	url = https://github.com/pocoproject/poco
[submodule "Core/submodules/soci"]
	path = Core/submodules/soci
	url = https://github.com/SOCI/soci
