
body {
    background-color: black;
    font: 13px Arial, Verdana, Sans-Serif;
    margin: 0;
    padding: 0;
}

.error {
    background-color: #ffb7b7;
}

.error2 {
    background-color: #faa;
    border: 1px dotted black;
    display: inline-block;
    margin-left: 4px;
}

.highlight .hll {
    padding: 1px;
}

#page {
    background-color: white;
    border: 2px solid #aaa;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 30px;
    overflow: auto;
    padding: 5px 20px;
    width: auto;
}

#header {
    border-bottom: thin solid #aaa;
}

#menu {
    float: left;
    margin-top: 5px;
    text-align: left;
    width: 100px;
    height: auto;
}

#menu > a {
    display: block;
    margin-left: 10px;
}

#content {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-left: thin solid #aaa;
    float: left;
    margin: 5px;
    padding: 0 10px 10px 10px;
    width: 80%;
}

.linenos {
    border-right: thin solid #aaa;
    color: lightgray;
    padding-right: 6px;
}

#footer {
    border-top: thin solid #aaa;
    clear: both;
    font-size: 90%;
    margin-top: 5px;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
}
